<%- include('../partials/html-head') %>
<link rel='stylesheet' href='/stylesheets/destinations/show.css' />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th class=t-header>Airline</th>
        <th class=t-header>Airport</th>
        <th class=t-header>Flight Number</th>
        <th class=t-header>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(f => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td>
            <form>
            <a href="/flights/<%= f._id %>">
              <button>DETAILS</button>
            </a>
          </form>
          </td>
          <td>
            <form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>